{
	default_sni {$LF_DOMAIN:localhost}
}

{$LF_DOMAIN:localhost} {
	tls {$LF_TLS_MODE:internal}

	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket lfd:2486

	reverse_proxy lfd:2486 {
		flush_interval -1
	}
}
